<template>
  <div
    :class="[
      'multiselect-custom', {
      'is-disabled': isDisabled,
      'is-fluid': isFluid,
      }, className,
    ]"
    :style="[
      {
        width: width + widthUnit,
      },
      inlineStyles,
    ]"
  >
    <multiselect
      v-model="value"
      :options="options"
      :searchable="isSearchable"
      :show-labels="isShowLabel"
      :placeholder="placeholder"
      track-by="name"
      label="name"
    >
    </multiselect>
  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect'

  export default {
    name: 'Select',

    components: {
      Multiselect
    },

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isSearchable: {
        type: Boolean,
        default: false,
      },
      isShowLabel: {
        type: Boolean,
        default: false,
      },
      isDisabled: {
        type: Boolean,
      },
      isFluid: {
        type: Boolean,
      },
      width: {
        type: Number,
      },
      widthUnit: {
        type: String,
        default: 'px',
      },
      placeholder: {
        type: String,
        default: 'Please select option',
      },
    },

    data() {
      return {
        value: null,
        options: [
          { name: 'Option 1', value: '1' },
          { name: 'Option 2', value: '2' },
          { name: 'Option 3', value: '3' },
        ]
      };
    },
  };
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
  @import '~assets/style/styleguides/main';

  .multiselect-custom {
    /* Parent style   ------------------------------ */
    display: inline-block;

    /* Children style ------------------------------ */
    .multiselect {
      min-height: $select-height;

      &.multiselect--above {
        .multiselect__content-wrapper {
          top: auto;
          bottom: calc(100% - 1px);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: $global-border-radius;
          border-top-right-radius: $global-border-radius;
          border-top: 1px solid $color-gray-5;
        }
      }
    }

    .multiselect__select {
      transition: none;
      width: $select-height;
      height: calc(#{$select-height} - 2px);
      padding: 0;

      &:before {
        transform: translate(-50%, -50%);
        position: relative;
        top: 50%;
        right: auto;
        left: 50%;
        display: block;
        width: 14px;
        height: 8px;
        margin-top: 0;
        background-image: url('~static/images/icons/ic-arrow-select.svg');
        background-repeat: no-repeat;
        border-width: 0;
      }
    }

    .multiselect__tags {
      min-height: $select-height;
      padding: 0 $select-height 0 10px;
      background: $color-white;
      border: 1px solid $color-gray-5;
      border-radius: $global-border-radius;
    }

    .multiselect__placeholder {
      @include typography-primary-14;
      padding-top: 6px;
      margin-bottom: 0;
      color: $color-placeholder;
    }

    .multiselect__input,
    .multiselect__single {
      @include typography-primary-14;
      min-height: calc(#{$input-height} - 2px);
      padding: 0;
      margin-bottom: 0;
      background: $color-white;
      border: none;
      border-radius: $global-border-radius;
      color: $color-gray-2;
    }

    .multiselect__single {
      padding-top: 6px;
    }

    .multiselect__content-wrapper {
      top: calc(100% - 1px);
      background: $color-white;
      border: 1px solid $color-gray-5;
      border-bottom-left-radius: $global-border-radius;
      border-bottom-right-radius: $global-border-radius;
    }

    .multiselect__option {
      @include typography-primary-14;
      min-height: $select-height;
      padding: 7px 10px 0;
      color: $color-gray-2;

      &.multiselect__option--selected {
        background-color: $color-gray-6;
      }
    }

    .multiselect__option--highlight {
      background: $color-primary-1;
      color: $color-gray-2;
    }

    /* Modifier style ------------------------------ */
    &.is-disabled {
      .multiselect {
        pointer-events: none;
      }

      .multiselect__tags {
        background: $color-disabled;
      }
    }

    &.is-fluid {
      width: 100%;
    }
  }
</style>
