<template>
  <div
    :class="[
      'image-ratio', {
      }, className,
    ]"
    :style="[
      {
        top: top + topUnit,
        left: left + leftUnit,
        width: width + widthUnit,
        paddingBottom: height + heightUnit,
        borderRadius: borderRadius + borderRadiusUnit,
      },
      inlineStyles,
    ]"
  >
    <img
      class="image-ratio-src"
      :src="src"
      :alt="alt"
    />
  </div>
</template>

<script>
  export default {
    name: 'ImageRatio',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      top: {
        type: Number,
      },
      topUnit: {
        type: String,
        default: 'px'
      },
      left: {
        type: Number,
      },
      leftUnit: {
        type: String,
        default: 'px'
      },
      width: {
        type: Number,
        default: 100,
      },
      widthUnit: {
        type: String,
        default: '%'
      },
      height: {
        type: Number,
        default: 57,
      },
      heightUnit: {
        type: String,
        default: '%'
      },
      borderRadius: {
        type: Number,
      },
      borderRadiusUnit: {
        type: String,
        default: 'px'
      },
      src: {
        type: String,
      },
      alt: {
        type: String,
        default: 'Image',
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .image-ratio {
    /* Parent style   ------------------------------ */
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    /* Children style ------------------------------ */
    .image-ratio-src {
      position: absolute;
      z-index: $z-index-lv1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* Modifier style ------------------------------ */
  }
</style>
