<template>
  <div
    :class="[
      'component-starter', {
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <!-- HTML -->
  </div>
</template>

<script>
  export default {
    name: 'ComponentStarter',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .component-starter {
    /* Parent style   ------------------------------ */
    /* Children style ------------------------------ */
    /* Modifier style ------------------------------ */
  }
</style>
