<template>
  <div
    :class="[
      'grid', {
      'is-gutter-5': isGutter5,
      'is-gutter-10': isGutter10,
      'is-gutter-15': isGutter15,
      'is-gutter-20': isGutter20,
      'is-gutter-25': isGutter25,
      'is-gutter-30': isGutter30,
      'is-gutter-vertical-5': isGutterVertical5,
      'is-gutter-vertical-10': isGutterVertical10,
      'is-gutter-vertical-15': isGutterVertical15,
      'is-gutter-vertical-20': isGutterVertical20,
      'is-gutter-vertical-25': isGutterVertical25,
      'is-gutter-vertical-30': isGutterVertical30,
      'is-center': isCenter,
      'is-right': isRight,
      'is-space-between': isSpaceBetween,
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <slot />
  </div>
</template>

<script>
  export default {
    name: 'Grid',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isGutter5: {
        type: Boolean,
      },
      isGutter10: {
        type: Boolean,
      },
      isGutter15: {
        type: Boolean,
      },
      isGutter20: {
        type: Boolean,
      },
      isGutter25: {
        type: Boolean,
      },
      isGutter30: {
        type: Boolean,
      },
      isGutterVertical5: {
        type: Boolean,
      },
      isGutterVertical10: {
        type: Boolean,
      },
      isGutterVertical15: {
        type: Boolean,
      },
      isGutterVertical20: {
        type: Boolean,
      },
      isGutterVertical25: {
        type: Boolean,
      },
      isGutterVertical30: {
        type: Boolean,
      },
      isCenter: {
        type: Boolean,
      },
      isRight: {
        type: Boolean,
      },
      isSpaceBetween: {
        type: Boolean,
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .grid {
    /* Parent style   ------------------------------ */
    display: flex;
    flex-wrap: wrap;

    /* Children style ------------------------------ */
    /* Modifier style ------------------------------ */
    /* Gutter */
    &.is-gutter-5 {
      margin-left: -5px;

      > .grid-column {
        padding-left: 5px;
      }
    }

    &.is-gutter-10 {
      margin-left: -10px;

      > .grid-column {
        padding-left: 10px;
      }
    }

    &.is-gutter-15 {
      margin-left: -15px;

      > .grid-column {
        padding-left: 15px;
      }
    }

    &.is-gutter-20 {
      margin-left: -20px;

      > .grid-column {
        padding-left: 20px;
      }
    }

    &.is-gutter-25 {
      margin-left: -25px;

      > .grid-column {
        padding-left: 25px;
      }
    }

    &.is-gutter-30 {
      margin-left: -30px;

      > .grid-column {
        padding-left: 30px;
      }
    }

    /* Gutter vertical */
    &.is-gutter-vertical-5 {
      margin-bottom: -5px;

      > .grid-column {
        padding-bottom: 5px;
      }
    }

    &.is-gutter-vertical-10 {
      margin-bottom: -10px;

      > .grid-column {
        padding-bottom: 10px;
      }
    }

    &.is-gutter-vertical-15 {
      margin-bottom: -15px;

      > .grid-column {
        padding-bottom: 15px;
      }
    }

    &.is-gutter-vertical-20 {
      margin-bottom: -20px;

      > .grid-column {
        padding-bottom: 20px;
      }
    }

    &.is-gutter-vertical-25 {
      margin-bottom: -25px;

      > .grid-column {
        padding-bottom: 25px;
      }
    }

    &.is-gutter-vertical-30 {
      margin-bottom: -30px;

      > .grid-column {
        padding-bottom: 30px;
      }
    }

    /* Align */
    &.is-center {
      justify-content: center;
    }

    &.is-right {
      justify-content: flex-end;
    }

    &.is-space-between {
      justify-content: space-between;
    }
  }
</style>
