<template>
  <div
    :class="[
      'input-custom-container', {
      'is-fluid': isFluid,
      'is-show-icon-front': isShowIconFront,
      'is-show-icon-back': isShowIconBack,
      'is-clickable-icon-front': isClickableIconFront,
      'is-clickable-icon-back': isClickableIconBack,
      }, className,
    ]"
  >
    <div
      v-if="isShowIconFront"
      class="input-custom-icon is-front"
    >
      <img
        class="input-custom-icon-image"
        :style="{
          top: iconTop + 'px',
          left: iconLeft + 'px',
          width: iconWidth + 'px',
          height: iconHeight + 'px',
        }"
        :src="srcIconFront"
        :alt="altIcon"
      />
    </div>
    <input
      :class="[
        'input-custom', {
        'is-small': isSmall,
        'is-error': isError,
        'is-disabled': isDisabled,
        },
      ]"
      :style="[
        {
          width: width + 'px',
        },
        inlineStyles,
      ]"
      :type="type"
      :placeholder="placeholder"
      :name="name"
      :value="value"
    />
    <div
      v-if="isShowIconBack"
      class="input-custom-icon is-back"
    >
      <img
        class="input-custom-icon-image"
        :style="{
          top: iconTop + 'px',
          left: iconLeft + 'px',
          width: iconWidth + 'px',
          height: iconHeight + 'px',
        }"
        :src="srcIconBack"
        :alt="altIcon"
      />
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Input',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isFluid: {
        type: Boolean,
      },
      isSmall: {
        type: Boolean,
      },
      isError: {
        type: Boolean,
      },
      isDisabled: {
        type: Boolean,
      },
      isShowIconFront: {
        type: Boolean,
      },
      isShowIconBack: {
        type: Boolean,
      },
      isClickableIconFront: {
        type: Boolean,
      },
      isClickableIconBack: {
        type: Boolean,
      },
      srcIconFront: {
        type: String,
      },
      srcIconBack: {
        type: String,
      },
      altIcon: {
        type: String,
        default: 'Icon',
      },
      type: {
        type: String,
        default: 'text',
      },
      placeholder: {
        type: String,
      },
      width: {
        type: Number,
      },
      iconTop: {
        type: Number,
      },
      iconLeft: {
        type: Number,
      },
      iconWidth: {
        type: Number,
      },
      iconHeight: {
        type: Number,
      },
      name: {
        type: String,
      },
      value: {
        type: String,
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .input-custom-container {
    /* Parent style   ------------------------------ */
    position: relative;
    display: inline-block;

    /* Children style ------------------------------ */
    /* Modifier style ------------------------------ */
    &.is-fluid {
      width: 100%;

      .input-custom {
        width: 100%;
      }
    }

    &.is-show-icon-front {
      .input-custom {
        padding-left: 30px;
      }
    }

    &.is-show-icon-back {
      .input-custom {
        padding-right: 30px;
      }
    }

    &.is-clickable-icon-front {
      .input-custom-icon {
        &.is-front {
          cursor: pointer;

          &:active {
            opacity: 0.75;
          }
        }
      }
    }

    &.is-clickable-icon-back {
      .input-custom-icon {
        &.is-back {
          cursor: pointer;

          &:active {
            opacity: 0.75;
          }
        }
      }
    }
  }

  .input-custom {
    /* Parent style   ------------------------------ */
    @include typography-primary-14;
    padding: 0 10px;
    height: $input-height;
    background-color: $color-white;
    border: 1px solid $color-gray-5;
    border-radius: $global-border-radius;
    color: $color-gray-2;

    /* Placeholder */
    &::-moz-placeholder {
      color: $color-placeholder;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: $color-placeholder;
    }

    &::-webkit-input-placeholder {
      color: $color-placeholder;
    }

    &::placeholder {
      color: $color-placeholder;
    }

    &:focus {
      outline: none;
    }

    /* Children style ------------------------------ */
    /* Modifier style ------------------------------ */
    /* Size */
    &.is-small {
      @include typography-primary-12;
      height: $input-small-height;
    }

    &.is-error {
      border-color: $color-red-1;
    }

    &.is-disabled {
      pointer-events: none;
      background-color: $color-disabled;
    }
  }

  .input-custom-icon {
    /* Parent style   ------------------------------ */
    position: absolute;
    z-index: $z-index-lv1;
    top: 0;
    width: 30px;
    height: 100%;

    /* Children style ------------------------------ */
    .input-custom-icon-image {
      transform: translate(-50% , -50%);
      position: absolute;
      z-index: $z-index-lv1;
      top: 50%;
      left: 50%;
      display: inline-block;
    }

    /* Modifier style ------------------------------ */
    &.is-front {
      left: 0;
    }

    &.is-back {
      right: 0;
    }
  }
</style>
