<template>
  <div
    :class="[
      'checkbox-custom', {
      'is-disabled': isDisabled,
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <input 
      :checked="isChecked"
      class="checkbox-custom-input" 
      type="checkbox"
      :name="name"
      :value="value"
    >
    <div class="checkbox-custom-icon-box">
      <div class="checkbox-custom-icon-checked"></div>
    </div>
    <span 
      v-if="isShowLabel"
      class="checkbox-custom-label"
    >
      {{ label }}
    </span>
  </div>
</template>

<script>
  export default {
    name: 'Checkbox',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isChecked: {
        type: Boolean,
      },
      isDisabled: {
        type: Boolean,
      },
      isShowLabel: {
        type: Boolean,
      },
      label: {
        type: String,
        default: 'Label',
      },
      name: {
        type: String,
      },
      value: {
        type: String,
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .checkbox-custom {
    /* Parent style   ------------------------------ */
    position: relative;
    display: inline-flex;
    align-items: center;

    /* Children style ------------------------------ */
    .checkbox-custom-input {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      z-index: $z-index-lv2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:checked {
        + .checkbox-custom-icon-box {
          .checkbox-custom-icon-checked {
            background-image: url('~static/images/icons/ic-checked.svg');
          }
        }
      }
    }

    .checkbox-custom-icon-box {
      position: relative;
      width: $checkbox-size;
      height: $checkbox-size;
      background-color: $color-white;
      border: 1px solid $color-black;
      border-radius: 2px;
    }

    .checkbox-custom-icon-checked {
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: $z-index-lv1;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 7px;
      background-repeat: no-repeat;
    }

    .checkbox-custom-label {
      @include typography-primary-14;
      position: relative;
      top: 1px;
      padding-left: 10px;
      color: $color-gray-2;
    }

    /* Modifier style ------------------------------ */
    &.is-disabled {
      .checkbox-custom-input {
        pointer-events: none;
      }

      .checkbox-custom-icon-box {
        background-color: $color-disabled;
      }
    }
  }
</style>
