<template>
  <div
    :class="[
      'upload-file', {
      'is-disabled': isDisabled,
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <div class="file">
      <label class="file-label">
        <input 
          class="file-input" 
          type="file" 
          :name="name"
          :value="value"
          :accept="accept"
          :multiple="isMultiple"
        >
        <span class="file-cta">
          <span class="file-icon">
            <img 
              :src="srcIcon" 
              :alt="altIcon"
            >
          </span>
          <span 
            v-if="isShowLabel"
            class="file-label-name"
          >
            {{ label }}
          </span>
        </span>
      </label>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'UploadFile',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isDisabled: {
        type: Boolean,
      },
      isMultiple: {
        type: Boolean,
      },
      isShowLabel: {
        type: Boolean,
        default: true,
      },
      name: {
        type: String,
      },
      value: {
        type: String,
      },
      accept: {
        type: String,
        default: '.jpg, .jpeg, .gif, .png',
      },
      srcIcon: {
        type: String,
        default: '/images/icons/ic-upload-file.svg'
      },
      altIcon: {
        type: String,
        default: 'Icon'
      },
      label: {
        type: String,
        default: 'Label'
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .upload-file {
    /* Parent style   ------------------------------ */
    display: inline-block;

    /* Children style ------------------------------ */
    .file {
      &:active {
        opacity: 0.75;
      }
    }

    .file-label {
      &:hover {
        .file-cta {
          background-color: transparent;
        }
      }
    }

    .file-cta {
      padding: 0 10px;
      height: $upload-file-size;
      background-color: $color-white;
      border-color: $color-gray-2;
      border-radius: 3px;
      line-height: 1;
    }

    .file-icon {
      width: auto;
      height: auto;
      margin-right: 0;
    }

    .file-label-name {
      @include typography-primary-12;
      color: $color-gray-2;
      margin-left: 8px;
    }

    /* Modifier style ------------------------------ */
    &.is-disabled {
      pointer-events: none;

      .file-cta {
        background-color: $color-disabled;
      }
    }
  }
</style>
