<template>
  <button
    :class="[
      'button-custom', {
      'is-fluid': isFluid,
      'is-small': isSmall,
      'is-primary': isPrimary,
      'is-secondary': isSecondary,
      'is-disabled': isDisabled,
      }, className,
    ]"
    :style="[
      {
        width: width + 'px',
      },
      inlineStyles,
    ]"
  >
    <span
      v-if="isShowIconFront"
      class="button-custom-icon is-front"
    >
      <img
        class="button-custom-icon-image"
        :style="{
          top: iconTop + 'px',
          left: iconLeft + 'px',
          width: iconWidth + 'px',
          height: iconHeight + 'px',
        }"
        :src="srcIconFront"
        :alt="altIcon"
      >
    </span>
    <span class="button-custom-text">
      <slot />
    </span>
    <span
      v-if="isShowIconBack"
      class="button-custom-icon is-back"
    >
      <img
        class="button-custom-icon-image"
        :style="{
          top: iconTop + 'px',
          left: iconLeft + 'px',
          width: iconWidth + 'px',
          height: iconHeight + 'px',
        }"
        :src="srcIconBack"
        :alt="altIcon"
      >
    </span>
  </button>
</template>

<script>
  export default {
    name: 'Button',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      width: {
        type: Number,
      },
      isSmall: {
        type: Boolean,
      },
      isPrimary: {
        type: Boolean,
      },
      isSecondary: {
        type: Boolean,
      },
      isShowIconFront: {
        type: Boolean,
        default: false,
      },
      srcIconFront: {
        type: String,
      },
      altIcon: {
        type: String,
        default: 'Icon',
      },
      isShowIconBack: {
        type: Boolean,
        default: false,
      },
      srcIconBack: {
        type: String,
      },
      iconTop: {
        type: Number,
      },
      iconLeft: {
        type: Number,
      },
      iconWidth: {
        type: Number,
      },
      iconHeight: {
        type: Number,
      },
      isFluid: {
        type: Boolean,
      },
      isDisabled: {
        type: Boolean,
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .button-custom {
    /* Parent style   ------------------------------ */
    cursor: pointer;
    height: $button-height;
    padding: 0 10px;
    background-color: $color-black;
    border: none;
    border-radius: $global-border-radius;

    &:focus {
      outline: none;
    }

    &:active {
      opacity: 0.75;
    }

    /* Children style ------------------------------ */
    .button-custom-icon {
      display: inline-block;
      vertical-align: middle;

      &.is-front {
        margin-right: 5px;
      }

      &.is-back {
        margin-left: 5px;
      }
    }

    .button-custom-icon-image {
      position: relative;
      display: inline-block;
    }

    .button-custom-text {
      @include typography-primary-14;
      /* position: relative;
      top: -1px; */
      color: $color-white;
    }

    /* Modifier style ------------------------------ */
    &.is-fluid {
      width: 100%;
    }

    /* Size */
    &.is-small {
      height: $button-small-height;

      .button-custom-text {
        @include typography-primary-12;
        color: $color-white;
      }
    }

    /* Color */
    &.is-primary {
      background-color: $color-primary-1;

      .button-custom-text {
        color: $color-gray-2;
      }
    }

    &.is-secondary {
      background-color: $color-secondary-1;
    }

    &.is-disabled {
      pointer-events: none;
      background-color: $color-disabled;
    }
  }
</style>
