<template>
  <div>
    <button class="button-component" v-on:click="setText">button component</button>
    <div>{{simpleText}}</div>
  </div>
</template>
<script>
export default {
  name: 'ButtonText',
  data() {
    return {
      simpleText: ""
    };
  },
  methods: {
    setText() {
      this.simpleText = "button component";
    }
  }
};
</script>
<style lang="scss">
  @import '~assets/style/styleguides/main';
</style>
