<template>
  <div
    :class="[
      'table-container', {
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <slot />
  </div>
</template>

<script>
  export default {
    name: 'TableScroll',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .table-container {
    /* Parent style   ------------------------------ */

    &:not(:last-child) {
      margin-bottom: 0;
    }

    /* Children style ------------------------------ */
    /* Modifier style ------------------------------ */
  }
</style>
