<template>
  <tr
    :class="[
      'table-row', {
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <slot />
  </tr>
</template>

<script>
  export default {
    name: 'TableRow',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .table {
    .table-row {
      /* Parent style   ------------------------------ */
      /* Children style ------------------------------ */
      /* Modifier style ------------------------------ */
    }
  }
</style>
