<template>
  <th
    :class="[
      'table-header-column', {
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <slot />
  </th>
</template>

<script>
  export default {
    name: 'TableHeaderColumn',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .table {
    .table-header {
      .table-header-column {
        /* Parent style   ------------------------------ */
        @include typography-primary-bold-14;
        padding: 5px 10px;
        border-bottom-width: 1px;
        color: $color-gray-1;

        /* Children style ------------------------------ */
        /* Modifier style ------------------------------ */
      }
    }
  }
</style>
