<template>
  <table
    :class="[
      'table', {
      'is-striped': isStriped,
      'is-fullwidth': isFluid,
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <slot />
  </table>
</template>

<script>
  export default {
    name: 'Table',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isStriped: {
        type: Boolean,
      },
      isFluid: {
        type: Boolean,
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .table {
    /* Parent style   ------------------------------ */
    background-color: transparent;
    color: $color-gray-2;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    /* Children style ------------------------------ */
    /* Modifier style ------------------------------ */
    &.is-striped {
      .table-body {
        .table-row {
          &:not(.is-selected) {
            &:nth-child(even) {
              background-color: $color-gray-6;
            }
          }
        }
      }
    }
  }
</style>
