<template>
  <div
    :class="[
      'form-control', {
      'is-error': isError,
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <div 
      v-if="isHorizontal"
      class="form-control-horizontal"
    >
      <div class="form-control-row">
        <div class="form-control-column">
          <label 
            class="form-control-label"
            :style="{
              width: labelWidth + 'px',
              paddingTop: labelPaddingTop + 'px',
            }"
          >
            {{ label }}
            <span 
              v-if="isShowMandatory" 
              class="form-control-mandatory"
            >
              *
            </span>
            <img
              v-if="isShowIcon" 
              class="form-control-icon"
              :src="srcIcon" 
              :alt="altIcon"
            />
          </label>
        </div>
        <div class="form-control-column">
          <slot />
          <div 
            v-if="isShowMessage"
            class="form-control-message"
          >
            {{ message }}
          </div>
        </div>
        <div 
          v-if="isShowHint" 
          class="form-control-column"
          :style="{
            paddingTop: hintPaddingTop + 'px',
          }"
        >
          <span class="form-control-hint">
            {{ hint }}
          </span>
        </div>
      </div>
    </div>

    <div 
      v-if="isVertical"
      class="form-control-vertical"
    >
      <div class="form-control-row">
        <div class="form-control-column">
          <label class="form-control-label">
            {{ label }}
            <span 
              v-if="isShowMandatory" 
              class="form-control-mandatory"
            >
              *
            </span>
            <img
              v-if="isShowIcon" 
              class="form-control-icon"
              :src="srcIcon" 
              :alt="altIcon"
            />
          </label>
        </div>
      </div>
      <div class="form-control-row">
        <div class="form-control-column">
          <slot />
        </div>
        <div 
          v-if="isShowHint" 
          class="form-control-column"
          :style="{
            paddingTop: hintPaddingTop + 'px',
          }"
        >
          <span class="form-control-hint">
            {{ hint }}
          </span>
        </div>
      </div>
      <div class="form-control-row">
        <div class="form-control-column">
          <div 
            v-if="isShowMessage"
            class="form-control-message"
          >
            {{ message }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FormControl',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isHorizontal: {
        type: Boolean,
      },
      isVertical: {
        type: Boolean,
      },
      isError: {
        type: Boolean,
      },
      isShowMandatory: {
        type: Boolean,
      },
      isShowIcon: {
        type: Boolean,
      },
      isShowHint: {
        type: Boolean,
      },
      isShowMessage: {
        type: Boolean,
      },
      label: {
        type: String,
      },
      labelWidth: {
        type: Number,
      },
      labelPaddingTop: {
        type: Number,
      },
      srcIcon: {
        type: String,
      },
      altIcon: {
        type: String,
        default: 'Icon',
      },
      hint: {
        type: String,
      },
      hintPaddingTop: {
        type: Number,
      },
      message: {
        type: String,
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .form-control {
    /* Parent style   ------------------------------ */
    /* Children style ------------------------------ */
    .form-control-horizontal {}

    .form-control-vertical {
      .form-control-label {
        margin-bottom: 5px;
      }
    }

    .form-control-row {
      display: flex;
      margin-left: -30px;
    }

    .form-control-column {
      padding-left: 30px;
    }

    .form-control-label {
      @include typography-primary-14;
      display: inline-block;
      color: $color-gray-2;
    }

    .form-control-mandatory {
      @include typography-primary-12;
      color: $color-error;
    }

    .form-control-icon {
      display: inline-block;
    }

    .form-control-hint {
      @include typography-primary-12;
      color: $color-gray-2;
    }

    .form-control-message {
      @include typography-primary-12;
      padding-top: 5px;
      color: $color-gray-2;
    }

    /* Modifier style ------------------------------ */
    &.is-error {
      .form-control-message {
        color: $color-error;
      }
    }
  }
</style>
