// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Color
// - Base
// - Brand
// - State
// - Specific
// - Gray
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Base
// ============================================================
$color-black: #000000;
$color-white: #FFFFFF;

// Brand
// ============================================================
$color-primary-1: #FED968;
$color-secondary-1: #F36060;

// State
// ============================================================
$color-disabled: #BBBBBB;
$color-error: #FF0000;

// Specific
// ============================================================
$color-overlay-1: rgba(0, 0, 0, 0.75);
$color-placeholder: #DDDDDD;

// Gray (More number is a lighter color)
// ============================================================
$color-gray-1: #111111;
$color-gray-2: #333333;
$color-gray-3: #666666;
$color-gray-4: #999999;
$color-gray-5: #BBBBBB;
$color-gray-6: #DDDDDD;

// Red (More number is a lighter color)
// ============================================================
$color-red-1: #FF0000;
