// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Global
// - Z Index
// - Media query
// - Size
// - Global
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Z Index
// ============================================================
$z-index-lv1:   1;
$z-index-lv2:   9;
$z-index-lv3:   10;
$z-index-lv4:   11;
$z-index-lv5:   99;
$z-index-lv6:   100;
$z-index-lv7:   101;
$z-index-lv8:   999;
$z-index-lv9:   1000;
$z-index-lv10:  1001;

// Media query
// ============================================================
$media-query-mobile:            320px;
$media-query-android:           360px;
$media-query-iphone:            375px;
$media-query-iphone-large:      414px;
$media-query-tablet-portrait:   768px;
$media-query-tablet-landscape:  1024px;
$media-query-laptop:            1280px;
$media-query-desktop:           1440px;

// Size
// ============================================================
$button-height: 32px;
$button-small-height: 24px;
$input-height: 32px;
$input-small-height: 24px;
$textarea-height: 64px;
$checkbox-size: 16px;
$radio-size: 16px;
$upload-file-size: 32px;
$modal-width: 640px;
$modal-small-width: 480px;
$modal-large-width: 960px;
$select-height: 32px;
$datepicker-size: 38px;

// Global
// ============================================================
$global-border-radius: 3px;
