// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Typography
// - Variables
// - Embed font
// - Mixns
// - Primary (Roboto)
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Variables
// ============================================================
$font-family-primary: 'Roboto';
$font-family-primary-bold: 'Roboto Bold';
$line-height-primary: 1.3;

// Mixins
// ============================================================
@mixin typography-primary-base() {
  font-weight: normal;
  line-height: $line-height-primary;
}

// Primary (Roboto)
//
// Regular
// @include typography-primary-12;
// @include typography-primary-14;
// @include typography-primary-16;
// @include typography-primary-24;
//
// Bold
// @include typography-primary-bold-12;
// @include typography-primary-bold-14;
// @include typography-primary-bold-16;
// @include typography-primary-bold-24;
//
// ============================================================

// Regular
// ------------------------------
@mixin typography-primary-12() {
  @include typography-primary-base;
  font-family: $font-family-primary;
  font-size: 12px;
}

@mixin typography-primary-14() {
  @include typography-primary-base;
  font-family: $font-family-primary;
  font-size: 14px;
}

@mixin typography-primary-16() {
  @include typography-primary-base;
  font-family: $font-family-primary;
  font-size: 16px;
}

@mixin typography-primary-24() {
  @include typography-primary-base;
  font-family: $font-family-primary;
  font-size: 24px;
}

// Bold
// ------------------------------
@mixin typography-primary-bold-12() {
  @include typography-primary-base;
  font-family: $font-family-primary-bold;
  font-size: 12px;
}

@mixin typography-primary-bold-14() {
  @include typography-primary-base;
  font-family: $font-family-primary-bold;
  font-size: 14px;
}

@mixin typography-primary-bold-16() {
  @include typography-primary-base;
  font-family: $font-family-primary-bold;
  font-size: 16px;
}

@mixin typography-primary-bold-24() {
  @include typography-primary-base;
  font-family: $font-family-primary-bold;
  font-size: 24px;
}
