<template>
  <div>
    <input v-bind:value="propsValue" v-on:input="$emit('input', $event.target.value)" />
  </div>
</template>

<script>
export default {
  name: 'InputText',
  props: {
    propsValue: String
  }
  // props: ['propsValue'],
  // props: {
  //   title: String,
  //   likes: Number,
  //   isPublished: Boolean,
  //   commentIds: Array,
  //   author: Object,
  //   callback: Function,
  //   contactsPromise: Promise // or any other constructor
  // }
};
</script>