<template>
  <vuescroll
    :class="[
      'scrollbar', {
      }, className,
    ]"
    :style="{
      height: height + heightUnit,
    }"
    :ops="options"
  >
    <slot />
  </vuescroll>
</template>

<script>
  import vuescroll from 'vuescroll';

  export default {
    name: 'Scrollbar',

    components: {
      vuescroll
    },

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      height: {
        type: Number,
      },
      heightUnit: {
        type: String,
        default: 'px',
      },
    },

    data() {
      return {
        options: {
          rail: {
            background: '#F1F1F1',
            opacity: 0,
            gutterOfEnds: '2px',
            gutterOfSide: '2px',
          },
          bar: {
            background: '#C1C1C1',
            onlyShowBarOnScroll: true,
            keepShow: false,
            showDelay: 300,
          }
        }
      };
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .scrollbar {
    /* Parent style   ------------------------------ */
    /* Children style ------------------------------ */
    /* Modifier style ------------------------------ */
  }
</style>
