<template>
  <div
    :class="[
      'container-custom', {
      'is-fluid': isFluid,
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <slot />
  </div>
</template>

<script>
  export default {
    name: 'Container',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isFluid: {
        type: Boolean,
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .container-custom {
    /* Parent style   ------------------------------ */
    margin-right: auto;
    margin-left: auto;

    /* Children style ------------------------------ */
    /* Modifier style ------------------------------ */
    &.is-fluid {
      max-width: 100%;
    }

    /* Media query    ------------------------------ */
    @media screen and (min-width: $media-query-mobile) {
      max-width: $media-query-mobile;
    }

    @media (min-width: $media-query-android) {
      max-width: $media-query-android;
    }

    @media (min-width: $media-query-iphone) {
      max-width: $media-query-iphone;
    }

    @media (min-width: $media-query-iphone-large) {
      max-width: $media-query-iphone-large;
    }

    @media (min-width: $media-query-tablet-portrait) {
      max-width: $media-query-tablet-portrait;
    }

    @media (min-width: $media-query-tablet-landscape) {
      max-width: $media-query-tablet-landscape;
    }

    @media (min-width: $media-query-laptop) {
      max-width: $media-query-laptop;
    }

    @media (min-width: $media-query-desktop) {
      max-width: $media-query-desktop;
    }
  }
</style>
