<template>
  <div
    :class="[
      'vdp-datepicker-custom', {
      'is-fluid': isFluid,
      }, className,
    ]"
    :style="[
      {
        width: width + widthUnit,
      },
      inlineStyles,
    ]"
  >
    <datepicker
      :input-class="'vdp-datepicker-cutom-input'"
      :inline="isInline"
      :placeholder="placeholder"
      :format="format"
    >
    </datepicker>
  </div>
</template>

<script>
  import Datepicker from 'vuejs-datepicker';

  export default {
    name: 'DatePickerCustom',

    components: {
      Datepicker,
    },

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isFluid: {
        type: Boolean,
      },
      isInline: {
        type: Boolean,
        default: false,
      },
      width: {
        type: Number,
      },
      widthUnit: {
        type: String,
        default: 'px',
      },
      placeholder: {
        type: String,
        default: 'Please select date',
      },
      format: {
        type: String,
        default: 'd MMM yyyy',
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .vdp-datepicker-custom {
    /* Parent style   ------------------------------ */
    display: inline-block;

    /* Children style ------------------------------ */
    .vdp-datepicker-cutom-input {
      width: 100%;
      padding: 0 10px;
      height: $input-height;
      background-color: $color-white;
      border: 1px solid $color-gray-5;
      border-radius: $global-border-radius;
      color: $color-gray-2;

      &:focus {
        outline: none;
      }
    }

    .vdp-datepicker__calendar {
      z-index: $z-index-lv6;
      background: $color-white;
      width: 300px;
      padding: 15px;
      margin-top: 5px;
      margin-bottom: 30px;
      border: 1px solid $color-gray-5;
      border-radius: $global-border-radius;

      header {
        display: flex;
        align-items: center;
        line-height: normal;

        .prev,
        .next,
        span:nth-child(2) {
          display: block;
          width: auto;
        }

        .prev,
        .next {
          flex: none;
          text-indent: 0;
          font-size: 0;
          width: 32px;
          height: 32px;

          &:not(.disabled) {
            &:hover {
              background: transparent;
            }
          }

          &:after {
            display: block;
            width: 8px;
            height: 14px;
            background-repeat: no-repeat;
            border: none;
          }
        }

        .prev {
          &:after {
            margin-left: 0;
            background-image: url('/images/icons/ic-arrow-prev.svg');
            border-right: none;
          }
        }

        .next {
          &:after {
            margin-right: 0;
            background-image: url('/images/icons/ic-arrow-next.svg');
            border-left: none;
          }
        }

        /* Year select */
        span:nth-child(2) {
          @include typography-primary-bold-16;
          flex: 1;
          color: $color-gray-2;

          &:hover {
            background: transparent;
          }
        }
      }

      .cell {
        height: $datepicker-size;
        padding: 0;
        font-family: $font-family-primary;
        font-weight: normal;
        color: $color-gray-2;
        line-height: $datepicker-size;

        &:not(.blank):not(.disabled).day,
        &:not(.blank):not(.disabled).month,
        &:not(.blank):not(.disabled).year {
          &:hover {
            border: 1px solid $color-primary-1;
          }
        }

        &.selected {
          background: $color-primary-1;

          &:hover {
            background: $color-primary-1;
          }
        }

        &.day-header {
          font-size: 12px;
        }

        &.day {
          border-radius: 50%;
        }

        &.month,
        &.year {
          border-radius: $global-border-radius;
        }
      }
    }

    /* Modifier style ------------------------------ */
    &.is-fluid {
      width: 100%;
    }
  }
</style>
