<template>
  <div class='page-user-id-container'>
    <div>User id page {{id}}</div>
    <br />
    <div>
      <input v-model="simpleInput" />
    </div>
    <div>{{simpleInput}}</div>
    <br />
    <div v-if="false">v-if</div>
    <div v-else>v-else</div>
    <br />
    <button v-on:click="setText">set text</button>
    {{simpleText}}
    <br />
    <ButtonText />
    <ButtonText />
    <br />
    <InputText :propsValue="propsInputText" />
    {{propsInputText}}
    <br />
    <InputText :propsValue="propsInputText" v-model="propsInputText" />
    {{propsInputText}}
    <br />
  </div>
</template>

<script>
import Components from "~/components/index.js";
import { isValidNumber } from '~/helpers';

export default {
  layout: "custom",
  components: {
    ...Components
  },
  validate({ params }) {
    const mode = process.env.mode;
    console.log('mode', mode)
    console.log('process.env.dev',process.env[mode])
    console.log("validate");
    return !isNaN(+params.id);
  },
  asyncData(context) {
    console.log("asyncData");
    console.log("context id", context);
    const userService = context.app.$userService({ x: 1});
    console.log(userService.test('xxxx'))
    const params = context.params;
    return {
      id: params.id
    };
  },
  fetch() {
    console.log("fetch");
    // The `fetch` method is used to fill the store before rendering the page
  },
  data() {
    console.log("data");
    console.log('isValidNumber', isValidNumber())
    return {
      simpleInput: "",
      simpleText: "",
      propsInputText: "1234",
      propsInputTextInt: 1234
    };
  },
  head() {
    console.log("head");
    // Set Meta Tags for this Page
  },
  mounted() {
    console.log("mounted");
  },
  methods: {
    setText() {
      this.simpleText = "set text " + this.simpleInput;
    }
  }
  // and more functionality to discover
};
</script>


<style lang="scss">
  @import '~assets/style/styleguides/main';

  .page-user-id-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
