<template>
  <div class='page-user-container'>
    User page
  </div>
</template>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .page-user-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
