// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Embed font
// - Roboto
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Variables
// ============================================================
$path-file-font-family-primary: '~static/fonts/roboto/roboto-regular';
$path-file-font-family-primary-bold: '~static/fonts/roboto/roboto-bold';

// Roboto
// ============================================================

// Regular
@font-face {
  font-family: 'Roboto';
  src: url('#{$path-file-font-family-primary}.eot');
  src: url('#{$path-file-font-family-primary}.eot') format('embedded-opentype'),
  url('#{$path-file-font-family-primary}.woff') format('woff'),
  url('#{$path-file-font-family-primary}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Bold
@font-face {
  font-family: 'Roboto Bold';
  src: url('#{$path-file-font-family-primary-bold}.eot');
  src: url('#{$path-file-font-family-primary-bold}.eot') format('embedded-opentype'),
  url('#{$path-file-font-family-primary-bold}.woff') format('woff'),
  url('#{$path-file-font-family-primary-bold}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
