// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Global
// - VUE Preview
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@import '~assets/style/styleguides/main';

// VUE Preview
// ============================================================
.vue-preview {
  /* Parent style   ------------------------------ */
  /* Children style ------------------------------ */
  .my-gallery {
    display: flex;
    flex-wrap: wrap;

    figure {
      a {
        overflow: hidden;
        position: relative;
        display: block;
        padding-bottom: 57%;

        img {
          position: absolute;
          z-index: $z-index-lv1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .pswp {
    .pswp__caption__center {
      @include typography-primary-14;
      max-width: 300px;
      padding: 10px;
      margin: 0 auto;
      text-align: center;
    }
  }

  /* Modifier style ------------------------------ */
  &.is-gallery {
    .my-gallery {
      margin-left: -30px;
      margin-bottom: -30px;

      figure {
        width: 50%;
        padding-left: 30px;
        padding-bottom: 30px;
      }
    }
  }
}
