// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Scaffolding
// - Overwrite html style from Bulma and others
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@import '~assets/style/styleguides/main';

html {
  overflow-y: auto;
}

body {
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: normal;
  color: $color-black;
  line-height: $line-height-primary;
}
