<template>
  <div class="page-ui">
    <Container isFluid>
      <h1 class="heading">Components</h1>
      <Spacing :height=30 />

      <!-- onClick + Function -->
      <h2 class="sub-heading">onClick + Function</h2>
      <Spacing />
      <button v-on:click="onOpenNotificationSuccess">Function</button>
      <Spacing :height=30 />

      <!-- v-bind + many component states -->
      <h2 class="sub-heading">v-bind + many component states</h2>
      <Spacing />
      <ComponentTemplate v-bind="componentTemplateState" />
      <Spacing />
      <ComponentTemplate
        v-bind="componentTemplateState"
        :isFocus="false"
      />
      <Spacing :height=30 />

      <!-- Section -->
      <h2 class="sub-heading">Section</h2>
      <Spacing />
      <Section
        :padding=10
        :bgColor="'#CCCCCC'"
      >
        Section
      </Section>
      <Spacing :height=30 />

      <!-- ImageRatio -->
      <h2 class="sub-heading">ImageRatio</h2>
      <Spacing />
      <ImageRatio :src="'https://i.imgur.com/uNUbDaT.png'" />
      <Spacing />
      <ImageRatio
        :src="'https://i.imgur.com/uNUbDaT.png'"
        :width=100
        :widthUnit="'px'"
        :height=100
        :heightUnit="'px'"
      />
      <Spacing :height=30 />

      <!-- Grid -->
      <h2 class="sub-heading">Grid</h2>
      <Spacing />
      <Grid isGutter30>
        <GridColumn isGrow><div :style="{backgroundColor: '#CCCCCC'}">Column</div></GridColumn>
        <GridColumn><div :style="{backgroundColor: '#CCCCCC'}">Column</div></GridColumn>
        <GridColumn><div :style="{backgroundColor: '#CCCCCC'}">Column</div></GridColumn>
      </Grid>
      <Spacing />
      <Grid
        isGutter15
        isGutterVertical15
      >
        <GridColumn isColumn6><div :style="{backgroundColor: '#CCCCCC'}">Column</div></GridColumn>
        <GridColumn isColumn6><div :style="{backgroundColor: '#CCCCCC'}">Column</div></GridColumn>
        <GridColumn isColumn6><div :style="{backgroundColor: '#CCCCCC'}">Column</div></GridColumn>
      </Grid>
      <Spacing />
      <Grid
        isGutter30
        isSpaceBetween
      >
        <GridColumn><div :style="{backgroundColor: '#CCCCCC'}">Column</div></GridColumn>
        <GridColumn><div :style="{backgroundColor: '#CCCCCC'}">Column</div></GridColumn>
      </Grid>
      <Spacing :height=30 />

      <!-- Button -->
      <h2 class="sub-heading">Button</h2>
      <Spacing />
      <Button>Button</Button>
      <Spacing />
      <Button isSmall>Button</Button>
      <Spacing />
      <Button :width=150>Button</Button>
      <Spacing />
      <Button
        isShowIconFront
        :srcIconFront="'/images/icons/ic-vue.svg'"
        :iconWidth=15
        :iconHeight=12
      >
        Button
      </Button>
      <Spacing />
      <Button
        isShowIconBack
        :srcIconBack="'/images/icons/ic-vue.svg'"
        :iconWidth=15
        :iconHeight=12
      >
        Button
      </Button>
      <Spacing />
      <Button isPrimary>Button</Button>
      <Spacing />
      <Button isSecondary>Button</Button>
      <Spacing />
      <Button isDisabled>Button</Button>
      <Spacing :height=30 />

      <!-- Input -->
      <h2 class="sub-heading">Input</h2>
      <Spacing />
      <Input
        :placeholder="'Insert ...'"
      />
      <Spacing />
      <Input
        :type="'password'"
        :placeholder="'Insert 8-16 characters'"
      />
      <Spacing />
      <Input
        isSmall
        :placeholder="'Insert ...'"
      />
      <Spacing />
      <Input
        isError
        :placeholder="'Insert ...'"
      />
      <Spacing />
      <Input
        isDisabled
        :placeholder="'Insert ...'"
      />
      <Spacing />
      <Input
        isFluid
        isShowIconFront
        :srcIconFront="'/images/icons/ic-vue.svg'"
        isShowIconBack
        isClickableIconBack
        :srcIconBack="'/images/icons/ic-vue.svg'"
        :placeholder="'Insert ...'"
      />
      <Spacing :height=30 />

      <!-- Textarea -->
      <h2 class="sub-heading">Textarea</h2>
      <Spacing />
      <Textarea
        :placeholder="'Insert ...'"
      />
      <Spacing />
      <Textarea
        isError
        :placeholder="'Insert ...'"
      />
      <Spacing />
      <Textarea
        isDisabled
        :placeholder="'Insert ...'"
      />
      <Spacing />
      <Textarea
        isFluid
        isShowIconFront
        :srcIconFront="'/images/icons/ic-vue.svg'"
        isShowIconBack
        isClickableIconBack
        :srcIconBack="'/images/icons/ic-vue.svg'"
        :placeholder="'Insert ...'"
      />
      <Spacing :height=30 />

      <!-- Checkbox -->
      <h2 class="sub-heading">Checkbox</h2>
      <Spacing />
      <Checkbox
        isChecked
        isShowLabel
        :label="'Label'"
      />
      <Spacing />
      <Checkbox
        :isChecked="false"
        isShowLabel
        isDisabled
        :label="'Label'"
      />
      <Spacing :height=30 />

      <!-- Radio -->
      <h2 class="sub-heading">Radio</h2>
      <Spacing />
      <Radio
        isShowLabel
        :label="'Label 1'"
        :name="'radio'"
      />
      <Radio
        isShowLabel
        :label="'Label 2'"
        :name="'radio'"
      />
      <Spacing />
      <Radio
        isChecked
        isShowLabel
        isDisabled
        :label="'Label'"
      />
      <Spacing :height=30 />

      <!-- Upload file -->
      <h2 class="sub-heading">Upload file</h2>
      <Spacing />
      <UploadFile :label="'Select image file'" />
      <Spacing />
      <UploadFile
        isMultiple
        :accept="'.pdf'"
        :label="'Select PDF files'"
      />
      <Spacing />
      <UploadFile isDisabled />
      <Spacing :height=30 />

      <!-- Select -->
      <h2 class="sub-heading">Select</h2>
      <Spacing />
      <Select
        isSearchable
        :placeholder="'Select frontend framework'"
      />
      <Spacing />
      <Select
        isDisabled
        :placeholder="'Select frontend framework'"
      />
      <Spacing :height=30 />

      <!-- Datepicker -->
      <h2 class="sub-heading">Datepicker</h2>
      <Spacing />
      <DatePickerCustom />
      <Spacing :height=30 />

      <!-- FormControl -->
      <h2 class="sub-heading">FormControl</h2>
      <Spacing />
      <FormControl
        v-bind="FormControlState"
        isHorizontal
        isShowMandatory
      >
        <Input
          :placeholder="'Insert ...'"
        />
      </FormControl>
      <Spacing />
      <FormControl
        v-bind="FormControlState"
        isHorizontal
        isError
        isShowMandatory
      >
        <Input
          isError
          :placeholder="'Insert ...'"
        />
      </FormControl>
      <Spacing />
      <FormControl
        v-bind="FormControlState"
        isVertical
        isShowMandatory
      >
        <Input
          :placeholder="'Insert ...'"
        />
      </FormControl>
      <Spacing />
      <FormControl
        v-bind="FormControlState"
        isVertical
        isError
        isShowMandatory
      >
        <Input
          isError
          :placeholder="'Insert ...'"
        />
      </FormControl>
      <Spacing :height=30 />

      <!-- Loading -->
      <h2 class="sub-heading">Loading</h2>
      <Spacing />
      <Loading isPulse />
      <Spacing />
      <Loading isCircleFade />
      <Spacing />
      <Loading isFlow />
      <Spacing />
      <p>Loading overlay, remove comment in code.</p>
      <!-- <LoadingOverlay isPulse /> -->
      <Spacing :height=30 />

      <!-- Modal -->
      <h2 class="sub-heading">Modal</h2>
      <Spacing />
      <!-- <Modal>
        <ModalHeader
          isShowIcon
          :srcIcon="'/images/icons/ic-vue.svg'"
          :iconTop=4
          :title="'Header'"
        />
        <ModalBody>
          Body
        </ModalBody>
        <ModalFooter>
          Footer
        </ModalFooter>
      </Modal> -->
      <p>Modal, remove comment in code.</p>
      <Spacing :height=30 />

      <!-- Table -->
      <h2 class="sub-heading">Table</h2>
      <Spacing />
      <Table isFluid>
        <TableHeader>
          <TableRow>
            <TableHeaderColumn>
              TH_1
            </TableHeaderColumn>
            <TableHeaderColumn>
              TH_2
            </TableHeaderColumn>
            <TableHeaderColumn>
              TH_3
            </TableHeaderColumn>
          </TableRow>
        </TableHeader>
        <TableBody>
          <TableRow>
            <TableBodyColumn>
              TD_1
            </TableBodyColumn>
            <TableBodyColumn>
              TD_2
            </TableBodyColumn>
            <TableBodyColumn>
              TD_3
            </TableBodyColumn>
          </TableRow>
          <TableRow>
            <TableBodyColumn>
              TD_1
            </TableBodyColumn>
            <TableBodyColumn>
              TD_2
            </TableBodyColumn>
            <TableBodyColumn>
              TD_3
            </TableBodyColumn>
          </TableRow>
          <TableRow>
            <TableBodyColumn>
              TD_1
            </TableBodyColumn>
            <TableBodyColumn>
              TD_2
            </TableBodyColumn>
            <TableBodyColumn>
              TD_3
            </TableBodyColumn>
          </TableRow>
        </TableBody>
      </Table>
      <Spacing />
      <Section :width=100>
        <TableScroll>
          <Table>
            <TableHeader>
              <TableRow>
                <TableHeaderColumn>
                  TH_1
                </TableHeaderColumn>
                <TableHeaderColumn>
                  TH_2
                </TableHeaderColumn>
                <TableHeaderColumn>
                  TH_3
                </TableHeaderColumn>
              </TableRow>
            </TableHeader>
            <TableBody>
              <TableRow>
                <TableBodyColumn>
                  TD_1
                </TableBodyColumn>
                <TableBodyColumn>
                  TD_2
                </TableBodyColumn>
                <TableBodyColumn>
                  TD_3
                </TableBodyColumn>
              </TableRow>
              <TableRow>
                <TableBodyColumn>
                  TD_1
                </TableBodyColumn>
                <TableBodyColumn>
                  TD_2
                </TableBodyColumn>
                <TableBodyColumn>
                  TD_3
                </TableBodyColumn>
              </TableRow>
              <TableRow>
                <TableBodyColumn>
                  TD_1
                </TableBodyColumn>
                <TableBodyColumn>
                  TD_2
                </TableBodyColumn>
                <TableBodyColumn>
                  TD_3
                </TableBodyColumn>
              </TableRow>
            </TableBody>
          </Table>
        </TableScroll>
      </Section>
      <Spacing :height=30 />

      <!-- Scrollbar -->
      <h2 class="sub-heading">Scrollbar</h2>
      <Spacing />
      <Scrollbar :height=250>
        Scroll top
        <Section
          :height=1000
          :bgColor="'#000000'"
        />
        Scroll bottom
      </Scrollbar>
      <Spacing :height=30 />

      <!-- VUE Preview (Lightbox) -->
      <h2 class="sub-heading">VUE Preview (Lightbox)</h2>
      <Spacing />
      <vue-preview
        class="vue-preview is-gallery"
        :slides="gallery"
        @close="onCloseVuePreview"
      />
      <Spacing />
      <p>VUE Preview is in plugin floder and haven't component folder. If you want cutomize style, go to assets/style/global.scss</p>
      <Spacing :height=30 />

      <!-- COMPONENT_NAME -->
      <h2 class="sub-heading">COMPONENT_NAME</h2>
      <Spacing />
      <!-- COMPONENT -->
      <Spacing :height=30 />

      <!-- [Plugin] Vue Notification -->
      <Notification v-bind="notificationState" group="globalNotification" />
    </Container>
  </div>
</template>

<script>
  import Components from '~/components/index.js';

  export default {
    components: {
      ...Components
    },

    mounted() {
      this.$notify({
        group: 'globalNotification',
        title: 'TITLE',
        text: 'MESSAGE',
      });
    },

    data() {
      return {
        componentTemplateState: {
          isActive: true,
          isFocus: true,
          isShowTitle: true,
          title: 'Title from data',
          isShowDescription: false,
          description: 'Description from data',
          inlineStyles:{
            // Overwrite default
            color: 'black',
          },
        },

        FormControlState: {
          isShowIcon: true,
          isShowHint: true,
          isShowMessage: true,
          label: 'Label',
          labelWidth: 100,
          labelPaddingTop: 8,
          srcIcon: '/images/icons/ic-vue.svg',
          hint: 'Hint',
          hintPaddingTop: 8,
          message: 'Message',
        },

        notificationState: {
          isSuccess: true,
          isError: false,
        },

        gallery: [
          {
            src: 'https://i.imgur.com/JH9r4FK.jpg',
            msrc: 'https://i.imgur.com/AzTGdB7.jpg',
            alt: 'picture1',
            title: 'Image Caption',
            w: 640,
            h: 960,
          },
          {
            src: 'https://i.imgur.com/jwD4NbD.jpg',
            msrc: 'https://i.imgur.com/lylPKiF.jpg',
            alt: 'picture2',
            title: 'Image Caption',
            w: 960,
            h: 640,
          },
          {
            src: 'https://i.imgur.com/JH9r4FK.jpg',
            msrc: 'https://i.imgur.com/AzTGdB7.jpg',
            alt: 'picture1',
            title: 'Image Caption',
            w: 640,
            h: 960,
          },
          {
            src: 'https://i.imgur.com/jwD4NbD.jpg',
            msrc: 'https://i.imgur.com/lylPKiF.jpg',
            alt: 'picture2',
            title: 'Image Caption',
            w: 960,
            h: 640,
          },
        ]
      };
    },

    methods: {
      onOpenNotificationSuccess() {
        this.$notify({
          group: 'globalNotification',
          title: 'TITLE',
          text: 'MESSAGE',
        });
      },

      onCloseVuePreview () {
        console.log('Close VUE Preview')
      },
    },
  }
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .page-ui {
    /* Parent style   ------------------------------ */
    max-width: 640px;
    margin: 50px auto 0;

    /* Children style ------------------------------ */
    .heading {
      font-size: 36px;
    }

    .sub-heading {
      font-size: 24px;
    }

    /* Modifier style ------------------------------ */
  }
</style>
