<template>
  <Layout>
    <Scrollbar
      :height=100
      :heightUnit="'vh'"
    >
      <div class="notice-label">Layout custom</div>
      <nuxt />
    </Scrollbar>
  </Layout>
</template>

<script>
  import Components from '~/components/index.js';

  export default {
    components: {
      ...Components
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .notice-label {
    @include typography-primary-12;
    position: fixed;
    z-index: $z-index-lv1;
    top: 30px;
    left: 30px;
    padding: 5px 10px;
    background-color: $color-black;
    border-radius: 15px;
    color: $color-white;
  }
</style>
