<template>
  <Layout>
    <Scrollbar
      :height=100
      :heightUnit="'vh'"
    >
      <nuxt />
    </Scrollbar>
  </Layout>
</template>

<script>
  import Components from '~/components/index.js';

  export default {
    components: {
      ...Components
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  /* Style */
</style>
