<template>
  <div
    :class="[
      'modal-custom', {
      'is-small': isSmall,
      'is-large': isLarge,
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <div class="modal-custom-container">
      <slot />
    </div>
    <div class="modal-custom-overlay"></div>
  </div>
</template>

<script>
  export default {
    name: 'Modal',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isSmall: {
        type: Boolean,
      },
      isLarge: {
        type: Boolean,
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  @keyframes fadeIn {
    0%   {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes moveUp {
    0%   {
      transform: translateY(30px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .modal-custom {
    /* Parent style   ------------------------------ */
    animation-name: fadeIn;
    animation-duration: 0.5s;
    overflow: auto;
    position: fixed;
    z-index: $z-index-lv10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Children style ------------------------------ */
    .modal-custom-container {
      animation-name: moveUp;
      animation-duration: 0.5s;
      position: relative;
      z-index: $z-index-lv2;
      width: 100%;
      max-width: $modal-width;
      padding-right: 30px;
      padding-left: 30px;
    }

    .modal-custom-overlay {
      position: absolute;
      z-index: $z-index-lv1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $color-overlay-1;
    }
    
    /* Modifier style ------------------------------ */
    &.is-small {
      .modal-custom-container {
        max-width: $modal-small-width;
      }
    }

    &.is-large {
      .modal-custom-container {
        max-width: $modal-large-width;
      }
    }
  }
</style>
