<template>
  <div
    :class="[
      'modal-custom-header', {
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <div 
      v-if="isShowIcon"
      class="modal-custom-header-icon"
    >
      <img 
        class="modal-custom-header-icon-image"
        :src="srcIcon" 
        :alt="altIcon"
        :style="{
          top: iconTop + 'px',
          left: iconLeft + 'px',
        }"
      />
    </div>
    <div class="modal-custom-header-title">
      {{ title }}
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ModalHeader',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isShowIcon: {
        type: Boolean,
      },
      srcIcon: {
        type: String,
      },
      altIcon: {
        type: String,
      },
      iconTop: {
        type: Number,
      },
      iconLeft: {
        type: Number,
      },
      title: {
        type: String,
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .modal-custom-header {
    /* Parent style   ------------------------------ */
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: $color-primary-1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    /* Children style ------------------------------ */
    .modal-custom-header-icon {
      padding-right: 15px;
    }

    .modal-custom-header-icon-image {
      position: relative;
    }

    .modal-custom-header-title {
      @include typography-primary-bold-24;
      color: $color-gray-2;
    }

    /* Modifier style ------------------------------ */
  }
</style>
