<template>
  <div
    :class="[
      'modal-custom-footer', {
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <slot />
  </div>
</template>

<script>
  export default {
    name: 'ModalFooter',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .modal-custom-footer {
    /* Parent style   ------------------------------ */
    padding: 30px;
    background-color: $color-gray-6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    /* Children style ------------------------------ */
    /* Modifier style ------------------------------ */
  }
</style>
