<template>
  <div
    :class="[
      'section-custom', {
      }, className,
    ]"
    :style="[
      {
        width: width + widthUnit,
        height: height + heightUnit,
        padding: padding + paddingUnit,
        paddingTop: paddingTop + paddingUnit,
        paddingRight: paddingRight + paddingUnit,
        paddingBottom: paddingBottom + paddingUnit,
        paddingLeft: paddingLeft + paddingUnit,
        margin: margin + marginUnit,
        marginTop: marginTop + marginUnit,
        marginRight: marginRight + marginUnit,
        marginBottom: marginBottom + marginUnit,
        marginLeft: marginLeft + marginUnit,
        backgroundColor: bgColor,
        border: border,
        borderTop: borderTop + borderUnit,
        borderRight: borderRight + borderUnit,
        borderBottom: borderBottom + borderUnit,
        borderLeft: borderLeft + borderUnit,
        borderRadius: borderRadius + borderRadiusUnit,
        boxShadow: boxShadow,
      },
      inlineStyles,
    ]"
  >
    <slot />
  </div>
</template>

<script>
  export default {
    name: 'Section',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      width: {
        type: Number,
      },
      widthUnit: {
        type: String,
        default: 'px',
      },
      height: {
        type: Number,
      },
      heightUnit: {
        type: String,
        default: 'px',
      },
      padding: {
        type: Number,
      },
      paddingUnit: {
        type: String,
        default: 'px',
      },
      paddingTop: {
        type: Number,
      },
      paddingRight: {
        type: Number,
      },
      paddingBottom: {
        type: Number,
      },
      paddingLeft: {
        type: Number,
      },
      margin: {
        type: Number,
      },
      marginUnit: {
        type: String,
        default: 'px',
      },
      marginTop: {
        type: Number,
      },
      marginRight: {
        type: Number,
      },
      marginBottom: {
        type: Number,
      },
      marginLeft: {
        type: Number,
      },
      bgColor: {
        type: String,
      },
      border: {
        type: String,
      },
      borderUnit: {
        type: String,
        default: 'px',
      },
      borderTop: {
        type: Number,
      },
      borderRight: {
        type: Number,
      },
      borderBottom: {
        type: Number,
      },
      borderLeft: {
        type: Number,
      },
      borderRadius: {
        type: Number,
      },
      borderRadiusUnit: {
        type: String,
        default: 'px',
      },
      boxShadow: {
        type: String,
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .section-custom {
    /* Parent style   ------------------------------ */
    /* Children style ------------------------------ */
    /* Modifier style ------------------------------ */
  }
</style>
