<template>
  <div class="page-home-container">
    <nuxt-link to="/user">User page</nuxt-link>
    <Spacing />
    <nuxt-link to="/user/3">User id page</nuxt-link>
  </div>
</template>

<script>
  import Components from "~/components/index.js";

  export default {
    components: {
      ...Components
    },
  }
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .page-home-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
