<template>
  <div
    :class="[
      'radio-custom', {
      'is-disabled': isDisabled,
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <input 
      :checked="isChecked"
      class="radio-custom-input" 
      type="radio"
      :name="name"
      :value="value"
    >
    <div class="radio-custom-icon-box">
      <div class="radio-custom-icon-checked"></div>
    </div>
    <span 
      v-if="isShowLabel"
      class="radio-custom-label"
    >
      {{ label }}
    </span>
  </div>
</template>

<script>
  export default {
    name: 'Radio',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      isChecked: {
        type: Boolean,
      },
      isDisabled: {
        type: Boolean,
      },
      isShowLabel: {
        type: Boolean,
      },
      label: {
        type: String,
        default: 'Label',
      },
      name: {
        type: String,
      },
      value: {
        type: String,
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .radio-custom {
    /* Parent style   ------------------------------ */
    position: relative;
    display: inline-flex;
    align-items: center;

    /* Children style ------------------------------ */
    .radio-custom-input {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      z-index: $z-index-lv2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:checked {
        + .radio-custom-icon-box {
          .radio-custom-icon-checked {
            visibility: visible;
          }
        }
      }
    }

    .radio-custom-icon-box {
      position: relative;
      width: $radio-size;
      height: $radio-size;
      background-color: $color-white;
      border: 1px solid $color-black;
      border-radius: 8px;
    }

    .radio-custom-icon-checked {
      visibility: hidden;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: $z-index-lv1;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      background-color: $color-black;
      border-radius: 5px;
    }

    .radio-custom-label {
      @include typography-primary-14;
      position: relative;
      top: 1px;
      padding-left: 10px;
      color: $color-gray-2;
    }

    /* Modifier style ------------------------------ */
    &.is-disabled {
      .radio-custom-input {
        pointer-events: none;
      }

      .radio-custom-icon-box {
        background-color: $color-disabled;
      }
    }
  }
</style>
