<template>
  <div
    :class="[
      'component-template', {
      'is-active': isActive,
      'is-focus': isFocus,
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <div>Component template</div>
    <div
      v-if="isShowTitle"
      class="component-template-title"
    >
      {{ title }}
    </div>
    <div
      v-if="isShowDescription"
      class="component-template-description"
    >
      {{ description }}
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ComponentTemplate',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      isActive: {
        type: Boolean,
      },
      isFocus: {
        type: Boolean,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            boxShadow: '0 0 10px rgba(0, 0, 0, 0.25)',
          };
        },
      },
      isShowTitle: {
        type: Boolean,
        default: true,
      },
      title: {
        type: String,
        default: 'Title',
      },
      isShowDescription: {
        type: Boolean,
        default: true,
      },
      description: {
        type: String,
        default: 'Description',
      },
    },

    mounted() {
      // Something
    },

    data() {
      return {
        // Something
      };
    },

    methods: {
      function_name() {
        // Function
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .component-template {
    /* Parent style   ------------------------------ */
    padding: 10px;

    /* Children style ------------------------------ */
    .component-template-title {
      @include typography-primary-bold-24;
    }

    .component-template-description {
      @include typography-primary-12;
    }

    /* Modifier style ------------------------------ */
    &.is-active {
      background-color: $color-gray-4;
    }

    &.is-focus {
      border: 2px solid $color-black;
    }
  }
</style>
