<template>
  <div
    :class="[
      'vue-notification-custom', {
      'is-success': isSuccess,
      'is-error': isError,
      }, className,
    ]"
    :style="[
      inlineStyles,
    ]"
  >
    <notifications
      :group="group"
      :duration="duration"
    />
  </div>
</template>

<script>
  export default {
    name: 'Notification',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // boxShadow: '0 0 10px rgba(0, 0, 0, 0.25)',
          };
        },
      },
      isSuccess: {
        type: Boolean,
      },
      isError: {
        type: Boolean,
      },
      group: {
        type: String,
      },
      duration: {
        type: Number,
        default: 5000, // -1 for disable auto close
      },
    },

    mounted() {
      // Something
    },

    data() {
      return {
        // Something
      };
    },

    methods: {
      function_name() {
        // Function
      },
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .vue-notification-custom {
    /* Parent style   ------------------------------ */
    position: fixed;
    z-index: $z-index-lv9;
    top: 0;
    left: 0;

    /* Children style ------------------------------ */

    /* Modifier style ------------------------------ */
    &.is-success {
      .vue-notification {
        background-color: green;
      }
    }

    &.is-error {
      .vue-notification {
        background-color: red;
      }
    }
  }
</style>
