<template>
  <div
    :class="[
      'spacing', {
      }, className,
    ]"
    :style="[
      {
        height: height + heightUnit,
      },
      inlineStyles,
    ]"
  >
    <!-- HTML -->
  </div>
</template>

<script>
  export default {
    name: 'Spacing',

    // Props types: String, Number, Boolean, Array, Object, Function, Promise
    props: {
      className: {
        type: String,
      },
      inlineStyles: {
        type: Object,
        default: function () {
          return {
            // Style
          };
        },
      },
      height: {
        type: Number,
        default: 10,
      },
      heightUnit: {
        type: String,
        default: 'px',
      }
    },
  };
</script>

<style lang="scss">
  @import '~assets/style/styleguides/main';

  .spacing {
    /* Parent style   ------------------------------ */
    /* Children style ------------------------------ */
    /* Modifier style ------------------------------ */
  }
</style>
